[package]
name = "integration-tests"
version = "0.1.0"
edition = "2021"

[dependencies]

tokio = { version = "1", features = ["full"] }
anyhow = "1.0"
serde_json = "1.0"
regex = "1.10"
fantoccini = { version = "0.22.0", features = ["rustls-tls"] }
